
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .websitename {
        font-size: 2.5rem;
    }
}    
    body{
        font-family: 'Open Sans', sans-serif;
        line-height: 1.6;
        color: rgb(255, 255, 255);
        /*background-image: url(/images/headerimage5.jpg);*/
        background-repeat: no-repeat;
        background-image: linear-gradient(black,rgb(59, 59, 59), black);
        background-size: cover;
        background-position: center;
        /* background: linear-gradient(to bottom right, rgb(218, 218, 218), rgb(72, 72, 72)); */
    }

    img{
        max-width: 100%;
        height: auto;
    }
    
    .logo{
        display:flex;
        justify-content: center;
        align-content: center;
        margin-bottom: 10rem;
    }

        .socialIcons{
            text-align: right;
            padding: .5rem;
            transition: color 0.3s ease
        }
            .socialIcons a{
                display: inline-block;
                text-decoration: none;
                color: rgb(255, 255, 255);
                padding: 5px;
                transition: all .8s ease-in-out;

            }

            .socialIcons a:hover{
                color:rgb(100, 157, 161);
                transform: rotate(360deg) scale(2);
            }   
        

            .socialIcons a:visited{
                text-decoration: none;
            }
       
    .logo{
        padding: 0px 25px;
    }

    
    .navBarContainer{
        display:flex;
        justify-content: flex-end;
        align-items: center;
        margin: 3rem;
        flex:1;
    }
    
    .navBarContainer ul{
        width: 50%;
        height: 4rem; 
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        list-style-type: none;
        background-color: rgb(65, 65, 65);
        border-radius: 15px;
        box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.75);
        padding: 30px;
    }    

    .navBarContainer a{
        display: inline-block;
        text-decoration: none;
        color: rgb(255, 255, 255);
        padding: 6px 30px;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.7s ease-in-out;
    }
    

    .navBarContainer a:hover{
        color:rgb(100, 157, 161);
        background-color: rgba(0,0,0,.75);
        transform: scale(1.10);
        
    }


        .mainText{
            /*font-size: 8.5rem;
            text-align: right;
            margin-right: 10rem;*/
        }

        .MainHeader{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            word-wrap: normal;
            margin: 15rem

        }

            .FirstSentence{
                font-size: 6rem;
                text-align: left;
            }

            .SecondSentence{
                padding-top: 2rem;
                font-size: 1.5rem;
                max-width: 40rem;
                /*display:flex;
                justify-content: flex-end;
                align-items: center;
                margin-right: 13rem;
                margin-right: 13rem;
                text-align: right;*/

            }

 
        .Espresso{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20rem;
            margin-left: 30rem;
            margin-bottom: 20rem;
            border-color: rgba(192, 235, 249, .75);
            border-width: 3px;
            border-top-style: solid;
            border-left-style: solid;
            border-right-style: solid;
            /*border-left-style: solid;*/
            border-radius: 8px;
            padding: 7rem;
            flex-direction: column;
            max-width: 60%;
            max-height: 50%;
            box-shadow: 0px -15px  rgba(192, 235, 249, 0.15);
        }

            .Espresso h2{
                font-size: 4rem;

                
            }

            .Espresso p{
                padding-top: 2rem;
                padding-bottom: 1.5rem;
                font-size: 2.5rem;
                max-width: 70%;
                text-align: center;
            }
        
            .VideoGames{
                display: flex;
                align-items: flex-end;
                margin-top: 20rem;
                margin-left: 30rem;
                margin-bottom: 20rem;
                border-color: rgba(192, 235, 249, .75);
                border-width: 3px;
                border-right-style: solid;
                /*border-left-style: solid;*/
                border-radius: 8px;
                padding: 7rem;
                flex-direction: column;
                max-width: 60%;
                max-height: 50%;
                box-shadow: 10px 0px 0px rgba(192, 235, 249, 0.15);
                

                
            }
    
                .VideoGames h2{
                    font-size: 4rem;
                    text-align: right;
                }
    
                .VideoGames p{
                    padding-top: 2rem;
                    padding-bottom: 1.5rem;
                    font-size: 2.5rem;
                    text-align: right;
                    max-width: 75%;
                }
            .Youtube{
                    display: flex;
                    justify-content: flex-start;
                    margin-top: 20rem;
                    margin-left: 30rem;
                    margin-bottom: 20rem;
                    border-color: rgba(192, 235, 249, .75);
                    border-width: 3px;

                    border-left-style: solid;
                    /*border-left-style: solid;*/
                    border-radius: 8px;
                    padding: 7rem;
                    flex-direction: column;
                    max-width: 60%;
                    max-height: 50%;
                    box-shadow: -10px 0px 0px  rgba(192, 235, 249, 0.15);
                }
        
                    .Youtube h2{
                        font-size: 4rem;
                        text-align: left;
                    }
        
                    .Youtube p{
                        padding-top: 2rem;
                        padding-bottom: 1.5rem;
                        font-size: 2.5rem;
                        text-align: left;
                        max-width: 75%;
                    }

            .Keyboards{
                        display: flex;
                        align-items: flex-end;
                        margin-top: 20rem;
                        margin-left: 30rem;
                        margin-bottom: 20rem;
                        border-color: rgba(192, 235, 249, .75);
                        border-width: 3px;
                        border-right-style: solid;
                        /*border-left-style: solid;*/
                        border-radius: 10px;
                        padding: 7rem;
                        flex-direction: column;
                        max-width: 60%;
                        max-height: 50%;
                        box-shadow: 10px 0px  rgba(192, 235, 249, 0.15);
                    }
            
                        .Keyboards h2{
                            font-size: 4rem;
                            text-align: right;
                        }
            
                        .Keyboards p{
                            padding-top: 2rem;
                            padding-bottom: 1.5rem;
                            font-size: 2.5rem;
                            text-align: right;
                            max-width: 75%;
                        }
                
                        .Travelling{
                            display: flex;
                            justify-content: flex-start;
                            margin-top: 20rem;
                            margin-left: 30rem;
                            margin-bottom: 20rem;
                            border-color: rgba(192, 235, 249, .75);
                            border-width: 3px;

                            border-left-style: solid;
                            /*border-left-style: solid;*/
                            border-radius: 8px;
                            padding: 7rem;
                            flex-direction: column;
                            max-width: 60%;
                            max-height: 50%;
                            box-shadow: -10px 0px  rgba(192, 235, 249, 0.15);
                        }
                
                            .Travelling h2{
                                font-size: 4rem;
                                margin-bottom: 100px;
                            }
                
                            .Travelling p{
                                padding-top: 2rem;
                                padding-bottom: 1.5rem;
                                font-size: 2.5rem;
                                text-align: left;
                                max-width: 75%;
                            }

                            .Travelling figure{

                                margin-bottom: 50px; 
                            }
                        
                            .Websites{
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                margin-top: 20rem;
                                margin-left: 30rem;
                                margin-bottom: 20rem;
                                border-color: rgba(192, 235, 249, .75);
                                border-width: 3px;
                                border-bottom-style: solid;
                                border-left-style: solid;
                                border-right-style: solid;
                                /*border-left-style: solid;*/
                                border-radius: 8px;
                                padding: 7rem;
                                flex-direction: column;
                                max-width: 60%;
                                max-height: 50%;
                                box-shadow: 0px 15px  rgba(192, 235, 249, 0.15);
                            }
                    
                                .Websites h2{
                                    font-size: 4rem;
                                }
                    
                                .Websites p{
                                    padding-top: 2rem;
                                    padding-bottom: 1.5rem;
                                    font-size: 2.5rem;
                                    text-align: center;
                                    max-width: 70%;
                                }
                                    