*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
    body{
        font-family: 'Open Sans', sans-serif;
        line-height: 1.6;
        color: rgb(203, 228, 251);
        background-image: url(/images/headerimage5.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        /* background: linear-gradient(to bottom right, rgb(218, 218, 218), rgb(72, 72, 72)); */
    }
  
    .websitename{
        text-align: right;
        padding: 5px 50px;
        font-size: 150px;
        font-family: "Imperial Script", sans-serif;
        font-weight: 500;
    }
    
    .logo{
        padding: 0px 25px;
    }

    .socialIcons{
        text-align: right;
    }

    
        .navBarContainer{
            display:flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            gap: 20px;
            background-color: rgba(100, 157, 161,.25);
            border: none;
            border-top: 2px solid rgb(203, 228, 251);
            border-bottom: 2px solid rgb(203, 228, 251);
            flex:1;
        }

        .navBarContainer ul{
                width: 500px; 
                height: 60px; 
                display:flex;
                justify-content: center;
                align-items: center;
                list-style-type: none;
                background-color: rgb(29,29,29);
                border-radius: 15px;
                box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, .75);
        }    

        .navBarContainer a{
            text-decoration: none;
            color: rgb(203, 228, 251);
            padding: 6px 30px;
            text-align: center;
            border-radius: 10px;
        }
        

        .navBarContainer a:hover{
            color:rgb(100, 157, 161);
            background-color: rgba(10,10,10);
        }

 
            .main{
                width: 70%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: space-evenly;
                margin: 50px;
                padding: 20px;
                flex: 1;
            }