
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .websitename {
        font-size: 2.5rem;
    }
}    
    body{
        font-family: 'Open Sans', sans-serif;
        line-height: 1.6;
        color: rgb(255, 255, 255);
        /*background-image: url(/images/headerimage5.jpg);*/
        background-repeat: no-repeat;
        background-image: linear-gradient(black,rgb(59, 59, 59), black);
        background-size: cover;
        background-position: center;
        /* background: linear-gradient(to bottom right, rgb(218, 218, 218), rgb(72, 72, 72)); */
    }

    img{
        max-width: 100%;
        height: auto;
    }
    
    .logo{
        display:flex;
        justify-content: center;
        align-content: center;
        margin-bottom: 10rem;
    }

    .socialIcons a{
        display: inline-block;
        text-decoration: none;
        color: rgb(255, 255, 255);
        padding: 5px;
        transition: all .8s ease-in-out;

    }

    .socialIcons a:hover{
        color:rgb(100, 157, 161);
        transform: rotate(360deg) scale(2);
    }   
  

    .socialIcons a:visited{
        text-decoration: none;
    }
       
    .logo{
        padding: 0px 25px;
    }

    .socialIcons{
        text-align: right;
        padding: .5rem;
        transition: color 0.3s ease
    }

    
        .navBarContainer{
            display:flex;
            justify-content: flex-end;
            align-items: center;
            margin: 3rem;
            flex:1;
        }
        
        .navBarContainer ul{
            width: 50%;
            height: 4rem; 
            display:flex;
            justify-content: space-evenly;
            align-items: center;
            list-style-type: none;
            background-color: rgb(65, 65, 65);
            border-radius: 15px;
            box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.75);
            padding: 30px;
        }    

        .navBarContainer a{
            display: inline-block;
            text-decoration: none;
            color: rgb(255, 255, 255);
            padding: 6px 30px;
            text-align: center;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.7s ease-in-out;
        }
        

        .navBarContainer a:hover{
            color:rgb(100, 157, 161);
            background-color: rgba(0,0,0,.75);
            transform: scale(1.10);
            
        }

 
            .mainText{
                /*font-size: 8.5rem;
                text-align: right;
                margin-right: 10rem;*/
            }

            .MainHeader{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                word-wrap: normal;

            }

                .FirstSentence{
                    font-size: 6rem;
                    text-align: right;
                }

                .SecondSentence{
                    padding-top: 2rem;
                    font-size: 1.5rem;
                    max-width: 40rem;
                    /*display:flex;
                    justify-content: flex-end;
                    align-items: center;
                    margin-right: 13rem;
                    margin-right: 13rem;
                    text-align: right;*/

                }
            
            .section1{
                display: flex;
                justify-content: flex-start;
                margin: 20rem;
                border-color: rgba(192, 235, 249, .75);
                border-width: 3px;
                border-bottom-style: solid;
                border-left-style: solid;
                /*border-left-style: solid;*/
                border-radius: 8px;
                padding: 7rem;
                flex-direction: column;
            }

                .section1 h2{
                    font-size: 4rem;
                }

                .section1 p{
                    padding-top: 2rem;
                    padding-bottom: 1.5rem;
                    font-size: 2rem;
                    text-align: left;
                }
            
            
                .HobbiesListContainer1{
                    display: flex;
                    justify-content: space-around;
                    font-size: 1.5rem;
                    padding: 70px 60px;
                    max-width: 1300px;
                    margin: 0 auto;
                    flex-wrap: wrap;
                    background-color: lightgray;
                    gap: 30px
                    
                }
                        .EspressoCard{
                            flex: 1;
                            border: 2px solid black;
                            border-radius: 8px;
                            padding: 20px;
                            box-shadow: 0 4px 6px rgba(0,0,0,.25);
                            text-align: center;
                            background-color: darkgray;
                            
                        }
                        .VideoCard{
                            flex: 1;
                            border: 2px solid black;
                            border-radius: 8px;
                            padding: 20px;
                            box-shadow: 0 4px 6px rgba(0,0,0,.25);
                            text-align: center;
                            background-color: darkgray;
                            
                        }
                        .YoutubeCard{
                            flex: 1;
                            border: 2px solid black;
                            border-radius: 8px;
                            padding: 20px;
                            box-shadow: 0 4px 6px rgba(0,0,0,.25);
                            text-align: center;
                            background-color: darkgray;
                            
                        }
                
                .HobbiesListContainer2{
                        display: flex;
                        justify-content: space-around;
                        font-size: 1.5rem;
                        padding: 70px 60px;
                        max-width: 1300px;
                        margin: 0 auto;
                        flex-wrap: wrap;
                        background-color: lightgray;
                        gap: 30px
                }

                        .KeyboardsCard{
                            flex: 1;
                            border: 2px solid black;
                            border-radius: 8px;
                            padding: 20px;
                            box-shadow: 0 4px 6px rgba(0,0,0,.25);
                            text-align: center;
                            background-color: darkgray;
                            flex-grow: 4;
                            
                        }
                        .TravelCard{
                            flex: 1;
                            border: 2px solid black;
                            border-radius: 8px;
                            padding: 20px;
                            box-shadow: 0 4px 6px rgba(0,0,0,.25);
                            text-align: center;
                            background-color: darkgray;
                            flex-grow: 4;
                            
                        }
                        .WebsiteCard{
                            flex: 1;
                            border: 2px solid black;
                            border-radius: 8px;
                            padding: 20px;
                            box-shadow: 0 4px 6px rgba(0,0,0,.25);
                            text-align: center;
                            background-color: darkgray;
                            flex-grow: 4;
                            
                        }
                
                
                .HobbiesListContainer1 a{
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    cursor: pointer;
                    font-size: 2rem;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    padding: 15px;
                    padding-bottom: 30px;
                    border-radius: 8px;
                    text-align: center;
                    transition: all 0.3s ease-in-out;
                }

                .HobbiesListContainer2 a{
                    text-align: center;
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    cursor: pointer;
                    font-size: 2rem;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    padding: 15px;
                    border-radius: 8px;
                    transition: all 0.3s ease-in-out;
                }

                .HobbiesListContainer1 img{
                    display: inline-block;
                    padding-top: 30px;
                }
                
                .HobbiesListContainer2 img{
                    display: inline-block;
                    padding-top: 30px;
                }

                    .HobbiesListContainer1 a:hover{
                        color:rgb(192, 235, 249);
                        background-color: rgba(0,0,0,.75);
                        border-radius: 5px;
                        transform: scale(1.15);
                    }
                    
                    .HobbiesListContainer2 a:hover{
                        color:rgb(192, 235, 249);
                        background-color: rgba(0,0,0,.75);
                        border-radius: 5px;
                        transform: scale(1.15);
                    }
           
            .section2{
                display: flex;
                justify-content: flex-end;
                margin-left: 20rem;
                margin-right: 15rem;
                border-color: rgba(192, 235, 249, .75);
                border-width: 3px;
                border-right-style: solid;
                border-left-style: solid;
                border-radius: 8px;
                padding: 7rem;
                text-align: right;

            }
                .section2 h2{
                    font-size: 4rem;
                }

                .section2 p{
                    font-size: 2rem;
                    margin-left: 20rem;
                }
            
        
            .section3{
                display: flex;
                justify-content: flex-start;
                margin: 20rem;
                max-width: 60rem;
                border-color: rgba(192, 235, 249, .75);
                border-width: 3px;
                border-top-style: solid;
                border-left-style: solid;
                border-radius: 8px;
                padding: 7rem;
            }
                .section3 h2{
                    font-size: 4rem;
                }
    
                .section3 p{
                    font-size: 2rem;;
                }

                .section3 a{
                    display: inline-block;
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                }

                .section3 a:hover{
                    color:rgb(192, 235, 249);
                    background-color: rgba(91, 91, 91, 0.5);
                    border-radius: 5px;
                    transform: scale(1.05);
                }
